/* ! Reset & Utils */

/* # Body  */

.wrapper {
  min-height: 100vh;
  background-color: #192030;
}

/* ! Components ! */

/* # Card Main */

.card-main {
  cursor: pointer;
  min-height: 100%;
}

.card-main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
